@model HashSet<Question>

@foreach (var result in Model)
{
    <div class="questionContainer">
        <a href="/Posts/Question/@result.Id" class="title">@result.Title.ToUpper()</a>
        <p>Views: @result.ViewCount</p>
    </div>
}
