<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/GamePage.js" defer></script>

<link rel="stylesheet" href="~/css/GamePage.css" />

<form method="post" asp-action="SearchQuestion" asp-controller="SearchBar">
    <input type="text" id="searchQuery" name="SearchQuery">
    <div id="SearchResultsContainer">
        <div id="searchResults">
        </div>
    </div>
</form>
