body {
    background-color: #f7f7f8;
}

img {
    height: 162px;
    width: 288px;
    border-radius: 8px;
}

.imgs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

div h1 {
    margin-bottom: 25px;
}

.tags {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.views {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tags {
    margin-top: 0px;
    padding: 0px 2px;
}

    .tags p {
        background: #e7e7ea;
        color: grey;
        padding: 2px 20px;
        border-radius: 16px;
    }

.views p {
}

.gameName {
    margin-top: -10px;
    height: 40px;
    text-align: left;
    overflow: hidden;
}

    .gameName h1 {
        font-size: 18px;
    }

footer {
    position: relative !important;
    margin-top: 20px;
}

.imgA {
}

    .imgA :hover {
        animation-name: moveLink;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }

@keyframes moveLink {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(20px, -20px);
    }
}
