img {
    width: 50%;
}

.textEditor {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.text {
    font-size: 11px;
    font-weight: normal;
    color: black;
    height: 85%;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    padding: 10px;
    padding-left: 35px;
    font-style: normal;
}

.operations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 15%;
    width: 100%;
    padding-left: 20px;
    margin: 0;
}

.select {
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}

.operation {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background-color: white;
}

.operation:hover {
    border: 1px solid lightgray;
}

.post {
    width: 65%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid gray;
    margin-bottom: 5px;
    border-radius: 3px;
    overflow: scroll;
}

.post-child {
    width: 100%;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 3px;
}

#add {
    width: 75px;
}

#file-input {
    display: none;
}

#addImage {
    width: 80px;
}

.hidden {
    display: none;
}

#title {
    width: 65%;
    height: 30px;
    overflow: hidden;
    resize: none;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#create {
    width: 115px;
}
