<!DOCTYPE html>
<style>
    img {
        width: 200px;
        height: 300px;
        border-radius: 8px;
    }
    .imgs {
        display: flex;
        justify-content: space-evenly;
    }
    div h1{
        margin-bottom: 25px;
    }
    .cont {
        margin-bottom: 100px;
    }
</style>
<html lang="en">

    <head>

    </head>
    <body>
        <div class="cont">
            <div><h1>Top of the weel</h1></div>
            <div class="imgs">
                <a href=""><img src="https://images.pexels.com/photos/1266810/pexels-photo-1266810.jpeg?cs=srgb&dl=pexels-simon-berger-1266810.jpg&fm=jpg" /></a>
                <a href=""><img src="https://images.pexels.com/photos/1266810/pexels-photo-1266810.jpeg?cs=srgb&dl=pexels-simon-berger-1266810.jpg&fm=jpg" /></a>
                <a href=""><img src="https://images.pexels.com/photos/1266810/pexels-photo-1266810.jpeg?cs=srgb&dl=pexels-simon-berger-1266810.jpg&fm=jpg" /></a>
                <a href=""><img src="https://images.pexels.com/photos/1266810/pexels-photo-1266810.jpeg?cs=srgb&dl=pexels-simon-berger-1266810.jpg&fm=jpg" /></a>
            </div>
        </div>
    <div class="cont">
        <div><h1>Most Quesitons</h1></div>
        <div class="imgs">
            <a href=""><img src="https://images.pexels.com/photos/1266810/pexels-photo-1266810.jpeg?cs=srgb&dl=pexels-simon-berger-1266810.jpg&fm=jpg" /></a>
            <a href=""><img src="https://images.pexels.com/photos/1266810/pexels-photo-1266810.jpeg?cs=srgb&dl=pexels-simon-berger-1266810.jpg&fm=jpg" /></a>
            <a href=""><img src="https://images.pexels.com/photos/1266810/pexels-photo-1266810.jpeg?cs=srgb&dl=pexels-simon-berger-1266810.jpg&fm=jpg" /></a>
            <a href=""><img src="https://images.pexels.com/photos/1266810/pexels-photo-1266810.jpeg?cs=srgb&dl=pexels-simon-berger-1266810.jpg&fm=jpg" /></a>
        </div>
    </div>
    <div class="cont">
        <div><h1>Top of all time</h1></div>
            <div class="imgs">
                <a href=""><img src="https://images.pexels.com/photos/1266810/pexels-photo-1266810.jpeg?cs=srgb&dl=pexels-simon-berger-1266810.jpg&fm=jpg" /></a>
                <a href=""><img src="https://images.pexels.com/photos/1266810/pexels-photo-1266810.jpeg?cs=srgb&dl=pexels-simon-berger-1266810.jpg&fm=jpg" /></a>
                <a href=""><img src="https://images.pexels.com/photos/1266810/pexels-photo-1266810.jpeg?cs=srgb&dl=pexels-simon-berger-1266810.jpg&fm=jpg" /></a>
                <a href=""><img src="https://images.pexels.com/photos/1266810/pexels-photo-1266810.jpeg?cs=srgb&dl=pexels-simon-berger-1266810.jpg&fm=jpg" /></a>
            </div>
        </div>

    </body>
</html>