@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="overlay">
         <div class="form">
        
        <h2>How2Games</h2>
        <p>Create a How2Games Acccount</p>
        <br>
        <form method="POST" action="#" name="registration" onsubmit="return validatePassword()">
           
            <input  type="text" name="first_name" placeholder="First Name *" required pattern="^[A-Za-z]{1,20}$">
            
            
            <input  type="text" name="last_name" placeholder="Last Name *" required pattern="^[A-Za-z]{1,20}$">
            
            <input class="check" type="email" name="email" placeholder="Email (abc@email.com) *" required pattern="^(?=^.{8,}$)[-_A-Za-z0-9]+([_.-][a-zA-Z0-9]+)*[A-Za-z0-9]+([.-][a-zA-Z0-9]+)*\.[A-Za-z]{2,}$">
            <input class="check" type="tel" name="phoneNumber" placeholder="123-456-7891 *" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" >
            <input class="check" type="password" name="password" placeholder="Password12345!!! *" id="password" >
            <br>
            <div class="buttons">
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
                </div>

        </form>
        </div>
        </div>
       
    <h5 class="display-4">Welcome to How2Games</h5>
    </div>
