@using Microsoft.AspNetCore.Identity;
@inject SignInManager<How2GamesUser> SignedIn;
@using How2Games.DataAccess.Data;

@model FormUser
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - How2Games</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/How2Games.styles.css" asp-append-version="true" />
</head>

<body>
<div class="background">
    <header>
        <div class="flex-container">
            <div class="left"> 
            <div id="imgDiv"><img src="/Logo.png" id="pfp"></div>
            </div>
            <div class="mid">
                <fieldset>
                    <partial name="~/Views/SearchBar/Search.cshtml" />
                </fieldset>
            </div>
            <div class="right">
                    @if (SignedIn.IsSignedIn(User))
                    {
                 <div class="right-div">
                            <h4>Hello @User.Identity?.Name</h4>
                        </div>
                    }
                    else{

                        <div class="right-div">
                            <button id="logIn">Log in</button>
                            <button id="signUp">Sign up</button>

                        </div>
                    }
            </div>
        </div>

    </header>
    <br />
    <div class="container">
        <main role="main" class="pb-3">
        @RenderBody()

        </main>


    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - How2Games - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        
        </div>
        

    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    </div>
</body>
</html>
