@using System.Web;
@model Game

 <div class="hero-banner">
    <img src="@Model.ImgUrl" alt="Hero Image">
  </div>
<h1>@Model.Name</h1>

<div id="DetailedDescription">
    @Html.Raw(HttpUtility.HtmlDecode(Model.DetailedDescription));
</div>
